*{
    margin: 0;
    padding: 0;
  }
  html {
    width: 100%;
    height: 100%;
  }
  #app {
    width: 100%;
    height: 100%;
  }
  body {
    width: 100%;
    height: 100%;
  }
  .emoji-wysiwyg-editor {
    width: 550px !important;
    height: 60px;
    padding: 0!important;
  }
  
  .emoji-picker-container {
    width: 100% !important;
    height: 60px;
  }
  .emoji-picker-icon {
    position: absolute;
    right: 0 !important;
  }